#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cart-img{
  width: 20vh;
  height: 20vh;
}

.App {
  text-align: center;
}

.ProductList {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas por fila */
  gap: 20px; /* Espacio entre los productos */
}

.product {
  box-shadow: 1px 5px 15px #CCC;
  width: 100%; /* Cada producto ocupa todo el ancho de su columna */
  height: auto;
  border-radius: 3px;
  padding: 2em;
  overflow: hidden;
  position: relative;
}